$font-small: 1.25rem;
$font-med: 1.5rem;
$font-large: 1.75rem;
$font-mega: 2.5rem;

$border-med: 0.25rem solid white;
$hoverBlue: rgba( 23, 150, 218, 0.3rem );
$pressBlue: rgba( 23, 150, 218, 1 );
$red: rgba( 224, 69, 64, 1 );
$green: rgba( 29, 185, 146, 1 );

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Fira Sans';
	font-size: 14px;
	font-weight: 400;
	margin: 0;
	padding: 0rem;
	text-rendering: optimizeLegibility;
}

body {
	background: #6674a7;
  color: #fff;
}

*, *:before, *:after {
  	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}


.header {
	font-size: 4rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	color: white;
}

.content  {
	width: 800px;
	margin: 4rem;
}

.break {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin: 6rem 0 2rem;
	opacity: 0.4;
	color: black;

	hr {
		border: 1px solid rgba( 0, 0, 0, 0.8 );
		margin: 0 0 0.5rem;
	}
}

:focus {
	transform-style: preserve-3d;
	transform: scaleX(1) scaleY(1);
	//transform: translate3d( 0, 0, 0 );
	outline: 0.3rem solid rgba( 255, 255, 255, 0.5 );
}

//---------- Layout ----------//
#title {
	width: 36rem;
}

#hud {
	width: 108rem;
	margin: 0.5rem;
	// border: 1px dotted red;

	> div {
		float: left;
		margin-right: 4rem;
	}
	> div:last-child {
		margin-right: 0;
	}

	#widgets {
		width: 18rem;
	}

	#site-location {
		position: relative;
		top: 10rem;
		width: 36rem;
	}

	#favorites {
		position: relative;
		top: 10rem;
		width: calc(5 * 9rem + 5px);
	}
}

//---------- Composition links ----------//
.comp-links {
	margin: 0;
	padding: 0;
}
.comp-link {
	float: left;
	list-style: none;
}
.comp-link a {
	text-decoration: none;
}

.button {
	width: 14rem;
	height: 4.5rem;
	padding: 1rem;
	letter-spacing: 0.075rem;
	margin: 1.5rem 1rem 0 0;
	border: 0.4rem solid white;
	font-size: $font-med;
	font-weight: 500;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
	text-transform: uppercase;
}

//---------- Site Frame ----------//

.frame {
	border: 0.3rem solid white;
	width: 36rem;
	height: 18rem;
	position: relative;
	font-size: $font-small;

	.authors {
		list-style-type: none;
		//padding: 1rem 0 0 1rem;
		margin: 1rem 0 0 1rem;
		padding: 0;
		text-transform: uppercase;
		font-size: $font-small;
		letter-spacing: 0.025rem;

		li {
			padding: 0;
			margin: 0;
		}

	}

	.title {

		left: 1rem;
		bottom: 1rem;
		position: absolute;
		width: calc(100% - 2rem);
		padding: 0;
		margin: 0;

		.dash {
			border-top: 0.3rem solid white;
			width: 3rem;
			padding: 0 0 1rem;
		}

		h1 {
			font-size: $font-large;
			letter-spacing: 0.1rem;
			line-height: 2rem;
			font-weight: 500;
			text-transform: uppercase;
			padding: 0;
			margin: 0;

		}
	}
}





//---------- Location Bar ----------//

.location {
	font-family: 'Fira Sans';
	font-size: $font-small;
	letter-spacing: 0.075rem;
	font-weight: 400;
	border: 0.3rem solid white;
	width: 36rem;
	height: 3.5rem;
	margin-top: 1rem;
	background: url('../images/magnifyingglass.svg') 97% 50% no-repeat;
	background-size: 1.5rem;
	font-size: $font-small;
	font-weight: 400;
	letter-spacing: 0.075rem;
	line-height: 1.25rem;
	padding: 0 1rem;
	cursor: pointer;
}

.location::-moz-placeholder {
	color: white;
	text-transform: uppercase;
}

.location:hover {
	background-color: $hoverBlue;
}

.location:focus {
	background: white url('../images/arrow.svg') 97% 50% no-repeat;
	background-size: 1.5rem;
	color: black;

}





//---------- Keyboard ----------//

.keyboard {
	color: white;
	font-size: $font-large;
	font-weight: 400;
	padding: 1rem;
	text-transform: uppercase;
	background-color: rgba( 37, 37, 37, 0.5 );
	overflow: auto;
}

.keyboard ul {
	list-style-type: none;
	padding: 0; margin: 0;
}

.keyboard li {

	background-color: rgba( 37, 37, 37, 0.25 );
	padding: 0.8rem 0 0;
	margin: 1px;
	width: 5rem;
	height: 4rem;
	text-align: center;
	float: left;
	cursor: pointer;

}

.keyboard li:hover {
	background-color: $hoverBlue;
}

.keyboard li:active {
	background-color: $pressBlue;
}

.keyboard {

	li.shift {
		width: 7.5rem;
	}

	li.delete {
		width: 7.5rem;
	}

	li.alternate {
		width: 10rem;
		text-align: center;
		letter-spacing: 0.075rem;
	}

	li.languages {
	}

	li.space {
		padding: 1.1rem 0 0;
		width: 20rem;
		font-size: $font-small;
		letter-spacing: 0.075rem;
		text-align: center;
	}

	li.period {
	}

	li.enter {
		padding: 1.1rem 0 0;
		width: 10rem;
		font-size: $font-small;
		letter-spacing: 0.075rem;
		text-align: center;
	}
}



//---------- Favorites ----------//
#favorites-template {
	display: none;
}
.fav {
	width: calc(9rem - 1px);
	height: calc(9rem - 1px);
	padding: 1rem;
	background: #fff;
	margin: 0.5px;
	float: left;
	position: relative;
	cursor: pointer;
	color: #000;
}

.fav-inner {
	position: absolute;
	bottom: 1rem;
	width: calc(100% - 2rem);
	font-size: $font-small;
	font-weight: 400;
	line-height: 1.5rem;
	letter-spacing: 0.0175rem;
	text-transform: uppercase;
	overflow: hidden;
	text-overflow: ellipsis;
}

.fav:hover {
	background: $hoverBlue;
}

.fav:active {
	color: white;
	background: $pressBlue;
}





//---------- Doorhanger ----------//

.doorhanger .box {
	background-color: white;
	padding: 3rem 6rem 3rem 3rem;
	width: 40rem;
	position: relative;
}

.doorhanger .close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	width: 4rem;
	height: 4rem;
	background: url('../images/x.svg') 50% 50% no-repeat;
	background-size: 50% 50%;
	opacity: 0.5;

	:hover {
		background-color: $hoverBlue;
		cursor: pointer;
	}
}

.doorhanger .close:hover {
	background-color: $hoverBlue;
	cursor: pointer;
}

.doorhanger h1 {
	color: #333;
	font-size: $font-large;
	line-height: 2.25rem;
	font-weight: 500;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.doorhanger p {
	color: #5f5f5f;
	font-size: $font-small;
	font-weight: 400;
	line-height: 1.75rem;
	padding: 1rem 0 0;
	margin: 0;
}

.doorhanger .button {
	width: 14rem;
	height: 4.5rem;
	padding: 1rem;
	letter-spacing: 0.075rem;
	margin: 1.5rem 1rem 0 0;
	font-size: $font-med;
	font-weight: 500;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
	text-transform: uppercase;
}

.doorhanger .button.secondary {
	border: 0.4rem solid white;
}

.doorhanger .button.secondary:hover {
	background-color: $hoverBlue;
}

.doorhanger .button.secondary:active {
	border: 0.4rem solid $hoverBlue;
	background-color: $pressBlue;
}

.doorhanger .button.primary {
	height: 4.5rem;
	border: 0.4rem solid $pressBlue;
	background-color: $pressBlue;
}





//---------- Call ----------//

.call .box {
	background-color: white;
	padding: 3rem 6rem 3rem 3rem;
	width: 40rem;
	position: relative;

	img {
		width: 7rem;
		height: 7rem;
		position: absolute;
		left: 2em;
		top: 2em;
		border-radius: 50%;
	}

	h2 {
		color: #666;
		font-size: $font-large;
		line-height: 2.25rem;
		font-weight: 500;
		text-transform: uppercase;
		padding: 0 0 0 7.5rem;
		margin: 0;
	}

	h1 {
		color: #333;
		font-size: $font-mega;
		line-height: 3rem;
		font-weight: 500;
		text-transform: uppercase;
		padding: 0 0 0 7.5rem;
		margin: 0;
	}

	p {
		color: #5f5f5f;
		font-size: $font-small;
		font-weight: 400;
		line-height: 1.75rem;
		padding: 1rem 0 0;
		margin: 0;
	}

	.close {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 4rem;
		height: 4rem;
		background: url('../images/x.svg') 50% 50% no-repeat;
		background-size: 50% 50%;
		opacity: 0.5;
	}
}


.call .close:hover {
	background-color: $hoverBlue;
	cursor: pointer;
}


.call .button {
	width: 14rem;
	height: 4.5rem;
	padding: 1rem;
	letter-spacing: 0.075rem;
	margin: 1.5rem 1rem 0 0;
	font-size: $font-med;
	font-weight: 500;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
	text-transform: uppercase;
}

.call .button.secondary {
	border: 0.4rem solid $red;
	background-color: $red;
}

.call .button.secondary:hover {
}

.call .button.secondary:active {
}

.call .button.primary {
	border: 0.4rem solid $green;
	background-color: $green;
}





//---------- Widgets ----------//

.widget-medium {
	width: 18rem;
	height: 18rem;
	padding: 3rem;
	background: #fff;
	margin-top: 1rem;
	margin-right: 1rem;
}
.widget-small {
	width: 18rem;
	height: 9rem;
	padding: 2rem 3rem 2rem 3rem;
	background: #fff;
	color: #000;
	margin-right: 1rem;
}

.weather-location {
	display: block;
	font-weight: 400;
	font-size: $font-small;
	text-transform: uppercase;
	color: #666;
}

.weather-temp {
	color: #333;
	font-weight: 500;
	font-size: 3rem;
}

.weather-temp:after {
	content: "\00b0";
	color: #333;
	font-size: 3rem;
}
.clock-time {
	font-size: $font-mega*2;
	line-height: $font-mega*2;
	margin-bottom: 1rem;
	color: #333;
	text-align: center;
}
.clock-alarm {
	position: relative;
	color: #333;
	font-size: $font-med;
	line-height: 3rem;
	width: 60%;
	margin: auto;
	text-align: right;
	border-bottom: 1px solid #666;
}
.clock-alarm.active {
	color: #666;
}
.clock-alarm.active:before {
	opacity: 0.5;
}

.clock-alarm:before {
	content: " ";
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: -1.5rem;
	top: -0.1rem;
	background: url('../images/alarm.svg') 97% 50% no-repeat;
	background-size: 1.5rem;
	display: block;
}
.clock-alarm:last-child {
	border: none;
}

//---------- Utilities ----------//

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}