$font-small: 1.5rem;
$font-med: 2rem;
$font-large: 1.75rem;
$font-mega: 2.5rem;

$layout-horizontal-line: 32rem;

$border-med: 0.25rem solid white;
$hoverBlue: rgba( 23, 150, 218, 0.3rem );
$pressBlue: rgba( 23, 150, 218, 1 );
$red: rgba( 224, 69, 64, 1 );
$green: rgba( 29, 185, 146, 1 );

html, body {
	width: 100%;
	height: 100%;
	font-family: 'Montserrat';
	font-size: 10px;
	font-weight: 400;
	margin: 0;
	padding: 0rem;
	text-rendering: optimizeLegibility;
}

body {
	background: #6674a7;
  color: #fff;
}

*, *:before, *:after {
  	-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

.header {
	font-size: 4rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	color: white;
}

.content  {
	width: 120rem;
	margin: 4rem;
}

.break {
	font-size: 1rem;
	font-weight: 400;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	margin: 6rem 0 2rem;
	opacity: 0.4;
	color: black;

	hr {
		border: 1px solid rgba( 0, 0, 0, 0.8 );
		margin: 0 0 0.5rem;
	}
}

:focus {
	transform-style: preserve-3d;
	transform: scaleX(1) scaleY(1);
	outline: 0.3rem solid rgba( 255, 255, 255, 0.5 );
}







//---------- title Layout ----------//

#currentsite {
	/*
	top left pixel is reserved for making the alpha channel,
	shift the layout away to keep clear.
	*/
	position: absolute;
	top: 1px;
	left: 1px;
}


//---------- HUD Layout ----------//

#hud {
	/*
	top left pixel is reserved for making the alpha channel,
	shift the layout away to keep clear.
	*/
	position: absolute;
	top: 1px;
	left: 1px;
	width: 320rem;

	.section {
		float: left;
		margin-right: 15rem;
	}

	.section:last-child {
		margin-right: 0;
	}

	#tips {
		position: absolute;
		left: 84rem;
		top: 40rem;
		width: 50rem;
	}
}



















//---------- Current Site ----------//

#current {
	width: 70rem;
	height: 55rem;
	border: 1.5rem solid rgba( 255, 255, 255, 1 );
	text-transform: uppercase;
	padding: 1.5rem;
	position: relative;

	.title {
		width: 62%;
		padding: 1rem 1.2rem;
		color: rgba( 77, 77, 77, 1 );
		background: rgba( 255, 255, 255, 1 );
		font-size: $font-med;
		letter-spacing: 0.05rem;
		font-weight: 700;
	}

	.url {
		width: 62%;
		padding: 0.8rem 1.2rem;
		color: white;
		background-color: rgba( 255, 255, 255, 0.25 );
		font-size: $font-small;
		letter-spacing: 0.15rem;
	}

	.credits {

		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
		font-size: $font-med;
		letter-spacing: 0.05rem;
		position: absolute;
		bottom: 1.5rem;

		.tools {
			font-size: $font-small;
			letter-spacing: 0.15rem;
		}
	}
}



//---------- Favorites ----------//

.fav {
	//width: calc(9rem - 1px);
	//height: calc(9rem - 1px);
	width: 20rem;
	height: 30rem;
	margin: 0 2.75rem 2.75rem 0;
	background: #fff;
	float: left;
	position: relative;
	cursor: pointer;
	color: #000;
	//display: table;
	overflow: hidden;
	//table-layout: fixed;

  img {
  	width: 100%;
  	height: 20rem;
  	vertical-align: bottom;
  }
}
.fav:last-child {
	margin-right: 0;
}

.fav-inner {
	width: 100%;
	height: 10rem;
	padding: 1.5rem;
	font-size: $font-med;
	font-weight: 700;
	line-height: $font-small + 0.25rem;
	letter-spacing: 0.0175rem;
	text-transform: uppercase;
	color: rgba( 77, 77, 77, 1 );
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: left;
	display: table-cell;
  //vertical-align: middle;

  .type {
  	font-size: $font-small;
  	font-weight: 400;
  	color: rgba( 133, 133, 133, 1 )
  }

}

// .fav:hover {
// 	background: $hoverBlue;
// }

.fav:active {
	color: white;
	background: $pressBlue;
}



//---------- Tips ----------//

.tips {
	margin: 0;
	padding: 0;
}

.tip {
	margin: 0 5rem 0 0;
	padding: 0;
	font-size: $font-med;
	letter-spacing: 0.1rem;
	text-transform: uppercase;
	font-size: $font-small;
	display: inline-block;

	li {
		float: left;
		list-style: none;
		padding: 0.6rem;
	}

	.key {
		width: 7rem;
		border: 0.25rem solid white;
		text-align: center;
		font-weight: 700;

	}

	.text {
		list-style: none;
		margin: 0 0.5rem;
		border: 0.25rem solid rgba( 255, 255, 255, 0 );
		font-weight: 400;
	}

}

.tip:hover {
	background: rgba( 255, 255, 255, 0.15 );
	cursor: pointer;

	.key {
		background: rgba( 255, 255, 255, 0.5 );
	}

}

//---------- Section ----------//

.section {
	border-top: 0.8rem solid rgba( 255, 255, 255, 0.2 );
	text-transform: uppercase;
	font-size: $font-small;
	letter-spacing: 0.1rem;
	display: inline-block;
	margin: 0;

	.title {
		padding: 0.4rem 0 2rem;
		color: rgba( 255, 255, 255, 0.5 );
		font-weight: 700;
	}

}

#favorites {
	width: 156.5rem;
}

#health {
	width: 30rem;

	p {
		margin: 0;
		padding: 0;
		color: rgba( 255, 255, 255, 0.75 );
		line-height: $font-small + 0.6rem;
		-moz-hyphens: auto;
		hyphens: auto;
	}
}

#controls {
	width: 24rem;

	ul {
		margin: 0;
		padding: 0;
		font-size: $font-med;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		font-size: $font-small;
	}

	li {
		list-style: none;
		padding: 0rem;
		margin: 0 0 0.2rem 0;
		word-wrap: nowrap;
		width: 100%;
	}

	.key {
		width: 30%;
		font-weight: 700;
		margin: 0 0.2rem 0 0;
		padding: 1.25rem;
		background: rgba( 23, 150, 218, 0.3 );
		text-align: center;
		font-weight: 700;
		display: inline-block;
	}

	.text {
		width: 69%;
		padding: 1.25rem 1.25rem;
		font-weight: 400;
		display: inline-block;
		background: rgba( 255, 255, 255, 0.2 );
	}

}

#credits {
	width: 30rem;

	.logo {
		padding: 2.4rem 0 0.6rem;
		width: 20rem;
	}

	ul {
		margin: 0;
		padding: 0;
		font-size: $font-med;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		font-size: $font-small;
	}

	li {
		list-style: none;
		padding: 0rem;
		margin: 0 0 0.2rem 0;
		word-wrap: nowrap;
		width: 100%;
		color: rgba( 255, 255, 255, 0.75 );
	}

}














































/*
//---------- Site Frame ----------//

.frame {

	border: 0.3rem solid white;
	width: 36rem;
	height: 18rem;
	position: relative;
	font-size: $font-small;

	.authors {
		list-style-type: none;
		//padding: 1rem 0 0 1rem;
		margin: 1rem 0 0 1rem;
		padding: 0;
		text-transform: uppercase;
		font-size: $font-small;
		letter-spacing: 0.025rem;

		li {
			margin: 0;
			padding: 0;
		}

	}

	.title {
		left: 1rem;
		bottom: 1rem;
		position: absolute;
		width: calc(100% - 2rem);
		padding: 0;
		margin: 0;

		.dash {
			border-top: 0.3rem solid white;
			width: 3rem;
			padding: 0 0 1rem;
		}

		h1 {
			font-size: $font-large;
			letter-spacing: 0.1rem;
			line-height: 2rem;
			font-weight: 700;
			text-transform: uppercase;
			padding: 0;
			margin: 0;

		}
	}
}


//---------- Location Bar ----------//

.location {
	font-family: 'Montserrat';
	font-size: $font-small;
	letter-spacing: 0.075rem;
	border: 0.3rem solid white;
	width: 36rem;
	height: 3.5rem;
	margin-top: 1rem;
	background: url('../images/magnifyingglass.svg') 97% 50% no-repeat;
	background-size: 1.5rem;
	font-size: $font-small;
	font-weight: 400;
	letter-spacing: 0.075rem;
	line-height: 1.25rem;
	padding: 0 1rem;
	cursor: pointer;
}

.location::-moz-placeholder {
	color: white;
	text-transform: uppercase;
}

.location:hover {
	background-color: $hoverBlue;
}

.location:focus {
	background: white url('../images/arrow.svg') 97% 50% no-repeat;
	background-size: 1.5rem;
	color: black;

}
*/



//---------- Composition links ----------//

.comp-links {
	margin: 0;
	padding: 0;
}
.comp-link {
	float: left;
	list-style: none;
}
.comp-link a {
	text-decoration: none;
}

.button {
	width: 14rem;
	height: 4.5rem;
	padding: 1rem;
	letter-spacing: 0.075rem;
	margin: 1.5rem 1rem 0 0;
	border: 0.4rem solid white;
	font-size: $font-med;
	font-weight: 400;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
	text-transform: uppercase;
}



//---------- Keyboard ----------//

.keyboard {
	color: white;
	font-size: $font-large;
	font-weight: 400;
	padding: 1rem;
	text-transform: uppercase;
	background-color: rgba( 37, 37, 37, 0.5 );
	overflow: auto;
}

.keyboard ul {
	list-style-type: none;
	padding: 0; margin: 0;
}

.keyboard li {

	background-color: rgba( 37, 37, 37, 0.25 );
	padding: 0.8rem 0 0;
	margin: 1px;
	width: 5rem;
	height: 4rem;
	text-align: center;
	float: left;
	cursor: pointer;

}

.keyboard li:hover {
	background-color: $hoverBlue;
}

.keyboard li:active {
	background-color: $pressBlue;
}

.keyboard {

	li.shift {
		width: 7.5rem;
	}

	li.delete {
		width: 7.5rem;
	}

	li.alternate {
		width: 10rem;
		text-align: center;
		letter-spacing: 0.075rem;
	}

	li.languages {
	}

	li.space {
		padding: 1.1rem 0 0;
		width: 20rem;
		font-size: $font-small;
		letter-spacing: 0.075rem;
		text-align: center;
	}

	li.period {
	}

	li.enter {
		padding: 1.1rem 0 0;
		width: 10rem;
		font-size: $font-small;
		letter-spacing: 0.075rem;
		text-align: center;
	}
}



//---------- Doorhanger ----------//

.doorhanger .box {
	background-color: white;
	padding: 3rem 6rem 3rem 3rem;
	width: 40rem;
	position: relative;
}

.doorhanger .close {
	position: absolute;
	top: 1.5rem;
	right: 1.5rem;
	width: 4rem;
	height: 4rem;
	background: url('../images/x.svg') 50% 50% no-repeat;
	background-size: 50% 50%;
	opacity: 0.5;

	:hover {
		background-color: $hoverBlue;
		cursor: pointer;
	}
}

.doorhanger .close:hover {
	background-color: $hoverBlue;
	cursor: pointer;
}

.doorhanger h1 {
	color: #333;
	font-size: $font-large;
	line-height: 2.25rem;
	font-weight: 700;
	text-transform: uppercase;
	padding: 0;
	margin: 0;
}

.doorhanger p {
	color: #5f5f5f;
	font-size: $font-small;
	font-weight: 400;
	line-height: 1.75rem;
	padding: 1rem 0 0;
	margin: 0;
}

.doorhanger .button {
	width: 14rem;
	height: 4.5rem;
	padding: 1rem;
	letter-spacing: 0.075rem;
	margin: 1.5rem 1rem 0 0;
	font-size: $font-med;
	font-weight: 500;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
	text-transform: uppercase;
}

.doorhanger .button.secondary {
	border: 0.4rem solid white;
}

.doorhanger .button.secondary:hover {
	background-color: $hoverBlue;
}

.doorhanger .button.secondary:active {
	border: 0.4rem solid $hoverBlue;
	background-color: $pressBlue;
}

.doorhanger .button.primary {
	height: 4.5rem;
	border: 0.4rem solid $pressBlue;
	background-color: $pressBlue;
}



//---------- Call ----------//

.call .box {
	background-color: white;
	padding: 3rem 6rem 3rem 3rem;
	width: 40rem;
	position: relative;

	img {
		width: 7rem;
		height: 7rem;
		position: absolute;
		left: 2em;
		top: 2em;
		border-radius: 50%;
	}

	h2 {
		color: #666;
		font-size: $font-large;
		line-height: 2.25rem;
		font-weight: 500;
		text-transform: uppercase;
		padding: 0 0 0 7.5rem;
		margin: 0;
	}

	h1 {
		color: #333;
		font-size: $font-mega;
		line-height: 3rem;
		font-weight: 700;
		text-transform: uppercase;
		padding: 0 0 0 7.5rem;
		margin: 0;
	}

	p {
		color: #5f5f5f;
		font-size: $font-small;
		font-weight: 400;
		line-height: 1.75rem;
		padding: 1rem 0 0;
		margin: 0;
	}

	.close {
		position: absolute;
		top: 1.5rem;
		right: 1.5rem;
		width: 4rem;
		height: 4rem;
		background: url('../images/x.svg') 50% 50% no-repeat;
		background-size: 50% 50%;
		opacity: 0.5;
	}
}


.call .close:hover {
	background-color: $hoverBlue;
	cursor: pointer;
}


.call .button {
	width: 14rem;
	height: 4.5rem;
	padding: 1rem;
	letter-spacing: 0.075rem;
	margin: 1.5rem 1rem 0 0;
	font-size: $font-med;
	font-weight: 500;
	text-align: center;
	color: white;
	float: left;
	cursor: pointer;
	text-transform: uppercase;
}

.call .button.secondary {
	border: 0.4rem solid $red;
	background-color: $red;
}

.call .button.secondary:hover {
}

.call .button.secondary:active {
}

.call .button.primary {
	border: 0.4rem solid $green;
	background-color: $green;
}



//---------- Widgets ----------//

.widget-medium {
	width: 18rem;
	height: 18rem;
	padding: 3rem;
	background: #fff;
	margin-top: 1rem;
	margin-right: 1rem;
}
.widget-small {
	width: 18rem;
	height: 9rem;
	padding: 2rem 3rem 2rem 3rem;
	background: #fff;
	color: #000;
	margin-right: 1rem;
}

.weather-location {
	display: block;
	font-weight: 400;
	font-size: $font-small;
	text-transform: uppercase;
	color: #666;
}

.weather-temp {
	color: #333;
	font-weight: 500;
	font-size: 3rem;
}

.weather-temp:after {
	content: "\00b0";
	color: #333;
	font-size: 3rem;
}
.clock-time {
	font-size: $font-mega*2;
	line-height: $font-mega*2;
	margin-bottom: 1rem;
	color: #333;
	text-align: center;
}
.clock-alarm {
	position: relative;
	color: #333;
	font-size: $font-med;
	line-height: 3rem;
	width: 70%;
	margin: auto;
	text-align: right;
	border-bottom: 1px solid #666;
}
.clock-alarm.active {
	color: #666;
}
.clock-alarm.active:before {
	opacity: 0.5;
}

.clock-alarm:before {
	content: " ";
	width: 3rem;
	height: 3rem;
	position: absolute;
	left: -1.6rem;
	top: 0rem;
	background: url('../images/alarm.svg') 97% 50% no-repeat;
	background-size: 1.5rem;
	display: block;
}
.clock-alarm:last-child {
	border: none;
}



//---------- Utilities ----------//

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}