extends layouts/master

block scripts
	script(type="text/javascript", src="js/dom2three.js")
	script.
		DOM2three.save()

mixin fav(id, title, type, image)
	.fav( id=id, data-mesh)
		.fav-inner #{title}
			.type #{type}
		img( src='images/thumbs/'+image )

block content
	#layout 
		img(data-mesh, data-position='0, 0, 0.2', data-rotation='0,0,0', src='images/frog.jpg')#frog
		
		br

		#favorites
			+fav('home', 'MozVR.com', 'Home', 'home-1.jpg')
			+fav('Sechelt', 'Sechelt', 'Demo', 'sechelt-1.jpg')
			+fav('polar', 'Polar Sea', 'Video', 'polarsea-1.jpg')
			+fav('diving', 'Information Diving', 'Demo', 'infodive-1.jpg')
			+fav('pano', 'Panorama', 'Demo', 'panoramas-1.jpg')
			+fav('leap', 'Leap Motion', 'Demo', 'leap-1.jpg')
			+fav('elevr4', 'elevr: Talk Chat Show ep.4', 'Interview', 'elevr-1.jpg')

		br

		img(data-mesh, data-position='0,0.1,-0.4', src='images/bird.jpg')#bird
