extends layouts/master

mixin fav(title)
	.fav
		.fav-inner #{title}

block content	

	#layout.cf
		#widgets
			include ./modules/widgets.jade
			
		#site-location
			include ./modules/siteframe.jade
			include ./modules/locationbar.jade

		#favorites.cf.layout-favorites
			#favorites-template.fav
				.fav-inner Favorites name