extends layouts/master

mixin fav(title)
	.fav
		.fav-inner #{title}

block scripts
	script(type="text/javascript", src="js/lib/three.min.js")
	script(type="text/javascript", src="js/dom2three.js")
	script(type="text/javascript", src="js/hud.js")

block content

	#hud.cf
		#widgets
			include ./modules/widgets.jade

		#site-location
			include ./modules/siteframe.jade
			include ./modules/locationbar.jade

		#favorites.cf.layout-favorites
			#favorites-template.fav
				.fav-inner Favorites name

