extends layouts/master

mixin fav(title)
	.fav(data-d23='true')
		.fav-inner #{title}

block content	

	#layout.cf
		#widgets
			include ./modules/widgets.jade
			
		#site-location
			include ./modules/siteframe.jade
			include ./modules/locationbar.jade

		#favorites.cf.layout-favorites
			#favorites-template.fav(data-d23='true', style='display:none')
				.fav-inner