extends layouts/master

mixin fav(title)
	.fav
		.fav-inner #{title}

block scripts
	script(type="text/javascript", src="js/lib/three.min.js")
	script(type="text/javascript", src="js/dom2three.js")
	script(type="text/javascript", src="js/title.js")

block content
	#title.cf
		#site-title
			include ./modules/currentsite.jade