extends layouts/master

block scripts
	script(type="text/javascript", src="../../dom2three.js")
	script.
		DOM2three.save()

block content

	#hud.cf

		include ./modules/section-health.jade

		include ./modules/section-controls.jade

		//include ./modules/currentsite.jade

		include ./modules/section-favorites.jade

		include ./modules/tips.jade

		include ./modules/section-credits.jade