extends layouts/master

mixin comp-link(title, link)
	li.comp-link
		a.button(href='#{link}') #{title}

block content
	.content
		.header HIRO UI

		.cf
		.break
		//	hr
		//	| Current Site

		include ./modules/currentsite.jade


		.cf
		.break
		//	hr
		//	| Favorites

		include ./modules/section-favorites.jade

		.cf
		.break
		//	hr
		//	| Tips

		include ./modules/tips.jade


		.cf
		.break
		//	hr
		//	| Health &amp Safety

		include ./modules/section-health.jade


		.cf
		.break
		//	hr
		//	| Controls

		include ./modules/section-controls.jade


		.cf
		.break
		//	hr
		//	| Credits

		include ./modules/section-credits.jade
