$font-small: 1.5rem;
$font-med: 2rem;
$font-large: 1.75rem;
$font-mega: 2.5rem;

html, body {
  /* we want to set a absolute width here since slimer.js will trim layout otherwise. */
  width: 100%;
  height: 100%;
  font-family: 'Montserrat';
  font-size: 10px;
  font-weight: 400;
  margin: 0;

  /* pixel 0,0 is reserved for creating the alpha channel, must be kept clear.  We'll do this by using padding. */
  padding: 1px; 
  
  text-rendering: optimizeLegibility;
}

body {
  background: #333333;
  color: #fff;
}

*, *:before, *:after {
    -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

#canvas {
  width: 360rem;
  height: 90rem;
  background: url('../images/background.png') no-repeat;
  background-size: 100%;
  text-align: center;
}

//---------- Favorites ----------//

#favorites {
  display: inline-block;
}

.fav {
  width: 22rem;
  height: 30rem;
  margin: 0 3rem 3rem 0;
  background: #fff;
  float: left;
  position: relative;
  cursor: pointer;
  color: #000;
  overflow: hidden;
  
  img {
    width: 100%;
    height: 20rem;
    vertical-align: bottom;
  }
}
.fav:last-child {
  margin-right: 0;
}

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

.fav-inner {
  width: 100%;
  height: 10rem;
  padding: 1.5rem;
  font-size: $font-med;
  font-weight: 700;
  line-height: $font-small + 0.25rem;
  letter-spacing: 0.0175rem;
  text-transform: uppercase;
  color: rgba( 77, 77, 77, 1 );
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: left;
  display: table-cell;
  //vertical-align: middle;

  .type {
    font-size: $font-small;
    font-weight: 400;
    color: rgba( 133, 133, 133, 1 )
  }
}



