.current

	// input(input type="text" tabindex="2" placeholder="Search or Address" ).title

	.title Sechelt
	.url mozvr.github.io/sechelt

	ul.credits
		li Josh Carpenter
		li Ricardo Cabello
		li &#8212
		li.tools Three.js, Tween.js, Cinema 4D