#current(data-mesh)
	#current-title.title(data-textarea, data-hostmesh='current') Sechelt
	#current-url.url(data-textarea, data-hostmesh='current') mozvr.github.io/sechelt

	#current-credits.credits(data-textarea, data-hostmesh='current')
		| Josh Carpenter
		br
		| Ricardo Cabello
		br
		| &#8212
		br
		| Three.js, Tween.js, Cinema 4D