#controls.section(data-mesh)
	.title
		| Controls
	ul
		li
			.key F
			.text VR mode
		li
			.key Look
			.text Look
		li
			.key Click
			.text Select
		li
			.key Space
			.text Menu
		li
			.key Z
			.text Center view
		li
			.key Esc
			.text Exit VR