#health.section(data-mesh)
	.title
		| Health &amp Safety
	p
		| Read and follow all warnings and instructions included with the headset before use. Headset should be calibrated for each other. Not for use by children under 7. Stop use if you experience any discomfort or health reactions. More: oculus.com/warnings
