#credits.section(data-mesh)
	.logo
		img(src='images/logo-mozvr-1.svg')
	ul
		li &#821
		li Casey Yee
		li Josh Carpenter
		li Diego Marcos
		li Vlad Vukicevic
		li Matthew Claypotch
		li &#8212
		li Special thanks to:
		li Ricardo Cabello
		li &#8212
		li Built with WebGL