doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="viewport", content="width=device-width, initial-scale=1")

        link(rel='stylesheet', href='css/style.css')
        link(rel='stylesheet', href='fonts/fira/fira.css')

        title Hiro UI

        script#uidata(type='text/json')
    body

        block content

        script(type="text/javascript", src="js/dom2three.js")
        script(type="text/javascript", src="js/app.js")
        